@{
    Page.Title = "Log in";

    // Initialize general page variables
    var email = "";
    var password = "";
    var rememberMe = false;

    var returnUrl = Request.QueryString["ReturnUrl"];
    if (returnUrl.IsEmpty()) {
        // Some external login providers always require a return URL value
        returnUrl = Href("~/");
    }

    // Setup validation
    Validation.RequireField("email", "You must specify an email address.");
    Validation.RequireField("password", "You must specify a password.");
    Validation.Add("password",
        Validator.StringLength(
            maxLength: Int32.MaxValue,
            minLength: 6,
            errorMessage: "Password must be at least 6 characters"));

    // If this is a POST request, validate and process data
    if (IsPost) {
        AntiForgery.Validate();
        // is this an external login request?
        string provider = Request.Form["provider"];
        if (!provider.IsEmpty()) {
            OAuthWebSecurity.RequestAuthentication(provider, Href("~/Account/RegisterService", new { returnUrl }));
            return;
        } else if (Validation.IsValid()) {
            email = Request.Form["email"];
            password = Request.Form["password"];
            rememberMe = Request.Form["rememberMe"].AsBool();

            if (WebSecurity.UserExists(email) && WebSecurity.GetPasswordFailuresSinceLastSuccess(email) > 4 && WebSecurity.GetLastPasswordFailureDate(email).AddSeconds(60) > DateTime.UtcNow) {
                Response.Redirect("~/Account/AccountLockedOut");
                return;
            }

            // Attempt to log in using provided credentials
            if (WebSecurity.Login(email, password, rememberMe)) {
                Context.RedirectLocal(returnUrl);
                return;
            } else {
                ModelState.AddFormError("The user name or password provided is incorrect.");
            }
        }
    }
}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>Pivot | Login</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="css/flexslider.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/line-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/elegant-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/lightbox.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/theme.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/custom.css" rel="stylesheet" type="text/css" media="all"/>
        <!--[if gte IE 9]>
        	<link rel="stylesheet" type="text/css" href="css/ie9.css" />
		<![endif]-->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700%7CRaleway:700' rel='stylesheet' type='text/css'>
        <script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
    	<div class="loader">
    		<div class="spinner">
			  <div class="double-bounce1"></div>
			  <div class="double-bounce2"></div>
			</div>
    	</div>
				
        <!-- Nav Menu - START...-->
        <div class="nav-container">
            <nav class="top-bar overlay-bar">
                <div class="container">
                    <div class="row utility-menu">
                        <div class="col-sm-12">
                            <div class="utility-inner clearfix">
                                <span class="alt-font"><i id="AWM_logo_header" class="icon icon_globe-2"></i>Agape Women's Ministry</span>
                                <div class="pull-right">
                                    @if (WebSecurity.IsAuthenticated) {
                            <text>
                                <span class="alt-font"> Hello, <a class="email text-white" href="~/Account/Manage" title="Manage">@WebSecurity.CurrentUserName</a>!</span>
                                <form id="logoutForm" class="pull-right" action="~/Account/Logout" method="post">
                                    @AntiForgery.GetHtml()
                                    <a href="javascript:document.getElementById('logoutForm').submit()">Log out</a>
                                </form>
                            </text>
                        } else {
                            <span class="alt-font rgstr_login"> <a class="text-white" href="~/Account/Register" title="Click To Register">Register</a></span>
                            <span class="alt-font rgstr_login"> <a class="text-white" href="~/Account/Login" title="Click To Login">Log in</a></span>
                        }
                                    
                                </div>
                            </div>
                        </div>
                    </div><!--end of row-->

                    

                    
                    <div class="mobile-toggle">
                        <i class="icon icon_menu"></i>
                    </div>
                </div><!--end of container-->
            </nav>
        </div>
        <!-- Nav Menu - END...-->

		<div class="main-container">
			<section class="no-pad login-page fullscreen-element">
                
				<div class="background-image-holder">
					<img class="background-image" alt="Poster Image For Mobiles" src="img/hero6.jpg">
				</div>
			
				<div class="container align-vertical">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 text-center">
                            <p class="text-white">Restricted For Administrators Only...</p>
                        </div>
                    </div><!--end of row-->
                    
					<div class="row">
						<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 text-center">
							<h1 class="text-white">Login to continue</h1>
							<div class="photo-form-wrapper clearfix">
								<form method="post">
                                    @AntiForgery.GetHtml()
                                    @* If one or more validation errors exist, show an error *@
                                    @Html.ValidationSummary("Log in was unsuccessful. Please correct the errors and try again.", excludeFieldErrors: true, htmlAttributes: null)
                                    <label for="email" @if (!ModelState.IsValidField("email")){<text>class="error-label"</text>}></label>
									<input class="email" id="email" type="text" placeholder="Email Address" @Validation.For("email") /> <span id="testing"> @Html.ValidationMessage("email") </span>
                                    @* Write any user name validation errors to the page *@
                                    
                                    <label for="password" @if (!ModelState.IsValidField("password")) {<text>class="error-label"</text>}></label>
									<input class="password" id="password" type="password" placeholder="Password" @Validation.For("password") />
                                    @* Write any password validation errors to the page *@
                                    @Html.ValidationMessage("password")
									<input class="login-btn btn-filled" type="submit" value="Login">
								</form>
							</div><!--end of photo form wrapper-->
							<a href="#" class="text-white">Create an account ➞</a><br>
							<a href="#" class="text-white">I've forgotten my password</a>
						</div>
					</div><!--end of row-->
				</div><!--end of container-->
			</section>
		</div>

		<div class="footer-container"></div>
				
		<script src="js/jquery.min.js"></script>
        <script src="js/jquery.plugin.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.flexslider-min.js"></script>
        <script src="js/smooth-scroll.min.js"></script>
        <script src="js/skrollr.min.js"></script>
        <script src="js/spectragram.min.js"></script>
        <script src="js/scrollReveal.min.js"></script>
        <script src="js/isotope.min.js"></script>
        <script src="js/twitterFetcher_v10_min.js"></script>
        <script src="js/lightbox.min.js"></script>
        <script src="js/jquery.countdown.min.js"></script>
        <script src="js/scripts.js"></script>

    </body>
</html>
